<div class="container">
  <div class="filters">
    <a class="button"(click)="filter='Vegetarian Dishes'">Vegetarian Dishes</a>
    <a class="button"(click)="filter='Meat Dishes'">Meat Dishes</a>
    <a class="button"(click)="filter='Drinks'">Drinks</a>
    <a class="button"(click)="filter='Seafood Dishes'">Seafood Dishes</a>
    <a class="button"(click)="filter='Appetizers'">Appetizers</a>
    <a class="button"(click)="filter='Kids Menu'">Kids Menu</a>
    <a class="button"(click)="filter=''">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let Product of getFilteredProducts()">

      <app-product-details
      [product]="Product">

      </app-product-details>

    </li>
  </ul>
</div>



<!-- <ul class="products">
  <li class="product-item" *ngFor="let product of getFilteredProducts()">
    <div class="product">
      <div class="product-details">
        <img [src]="getImageUrl(product)" [alt]="product.name" />
        <div class="product-info">
          <div class="name">{{ product.name}}</div>
          <div class="description">{{product.description}}</div>
          <div class="category">Part Type: {{product.category}}</div>
        </div>
      </div>
      <div class="price">
        <div [class.strikethrough]= " product.discount > 0">
          {{product.price | currency: 'USD'}}</div>
        <div *ngIf="product.discount > 0" class ="discount">
          {{ (product.price * (1 - product.discount)) | currency: 'USD'}}
        </div>
        <button class="cta">Buy</button>
      </div>
    </div>
  </li>
</ul>
</div> -->
