<div class="container">
    <div class="hero"></div>

    <div class="promoted">
        <img src="/assets/images/food-items/traditionCoffee.png" alt="Eritrean Coffee" class="promo-img" />
        <div class="promo-text">
            <div class="promo-main-text">We are delighted to provide you with the best service possible!</div>
            <div class="promo-sub-text cta">
                <div>SAVE 20% ON OUR Gored Gored</div>
                <div>GORED GORED</div>
            </div>
        </div>
        <img src="/assets/images/food-items/beyeaynetu.png" alt="Traditional Food" class="promo-img" />
    </div>

    <ul class="megbi-kulu-aynet">
        <li>
            <a routerLink="/catalog/Merek" class="part">
                <img src="/assets/images/food-items/merek.jpg" alt="Merek" />
                <div>MEREK</div>
            </a>
        </li>
        <li>
            <a routerLink="/catalog/Gored" class="part">
                <img src="/assets/images/food-items/gored.jpg" alt="Gored" />
                <div>GORED GORED</div>
            </a>
        </li>
        <li>
            <a routerLink="/catalog/Geat" class="part">
                <img src="/assets/images/food-items/geat.png" alt="Geat" />
                <div>GEAT</div>
            </a>
        </li>
        <li>
            <a routerLink="/catalog/Cake" class="part">
                <img src="/assets/images/food-items/cake.png" alt="Cake" />
                <div>CAKE</div>
            </a>
        </li>
    </ul>

    <div class="white-paper">
        <img src="" alt="Filmon Restaurant" class="white-paper-img" />
        <div class="text">
            <div>
                <div class="header-text cta">Please visit our Restaurant</div>
                <div class="sub-text">
                    <p>10 Myths About the</p>
                    <p>Filmon Restaurant</p>
                </div>
            </div>
            <div class="large-text">Filmon</div>
            <a href="" class="learn-more">Learn More</a>
        </div>
    </div>
</div>
